*{
    margin: 0;

}

.sfondo{
    box-sizing: border-box;
    height: 8vh;
    background-image: url(img/pattern.png);
    background-size: contain;
    margin: 0;
}

.logo{

    width: 5vw;
    background-image: url(img/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    z-index:2;
    margin: 0;
}
.ulll{
    margin-top: 10px;
}

.ulll1{
    margin-top: 10px;
    padding-left: 15px;
}
.titolo{
    font-size: 20px;
    margin: 0;
    margin-top: 10px;
}

.scritto{
    font-size: 10px;
    margin: 0;
}

.scritto1{
    font-size: 6px;
    margin: 0;
}

.data{
    font-size: 6px;
    margin: 0;
}

.sect{
    font-size: 8px;
}
img{
    margin-top: 10px;
    display: inline;
    width: 48vw;
    height: 30vh;
}

p{
    margin: 0;
}

table{
    font-size: 9px;
    margin-top: 10px;
}

thead {
    background-color: rgb(27, 124, 124);
}

.col , tfoot{ 
    background-color: aqua;
}

.testo{
    margin-top: 10px;
    font-size: 9px;
}

.sotto{
    margin-top: 20px;
    font-size: 9px;
}

.grand{
   height: 10vh;
   width: 20vw;
}

.yellow{
    background-color: yellow;
}

.blue{
    color: blue;
}