
.sfondo{
    box-sizing: border-box;
    height: 8vh;
    background-image: url(img/pattern.png);
    background-size: contain;
    margin: 0;
}

.logo{

    width: 5vw;
    background-image: url(img/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    z-index:2;
    margin: 0;
}

.titolo{
    font-size: 20px;
    margin: 0;
}

.scritto{
    font-size: 10px;
    margin: 0;
}

.data{
    font-size: 8px;
    margin: 0;
}


img{
    margin-top: 10px;
    display: inline;
    width: 48vw;
    height: 25vh;
}